.header { 
    margin: 0px auto;
   
}

.main, .footer {
    margin: 0px auto; 
    max-width: 1200px; 

}


figure.guessinggameimage img, figure.guessinggameimage img {width: 100%; max-width: 1200px;}
figure.guessinggameimage {width: 100%; margin: 0px auto;}


.companyname, .companyslogan {
    font-family: 'roboto';  
    position: absolute;  
    color: #ffffff; 
    left: 35px;
    font-weight: bolder;
    opacity: 0.8;
  filter: alpha(opacity=60);
    
}

.name {
    

}



.companyname { 
    font-size: 36px;   
    top: 5px; 
    
}

.companyslogan {
    font-size: 30px; 
    padding-top: 50px;   
    top: 15px;   
}


.companynamepage {
    margin-top: 10px; 
    padding-left: 20px;   
    padding-top: 30px; 
    padding-bottom: 10px; 
    
}



.skills {
    padding-left: 20px;
    background-color: darkgreen; 
    padding-top: 30px; 
    padding-bottom: 30px;
    font-size: 24px; 
    color: white; 
   
}


.listofskills {
    padding-left: 50px; 
    font-size: 20px; 

}

.cbimage {
position: absolute; 
top: 43%; 
left: 80%; 
transform: translate(-50%, -75%); 
text-align: center;
font-size: 36px;  
}

.errorresponse {
    padding: 25px; 
    font-size: 16px; 


}




.results {
    padding: 25px;  
    font-size: 20px;
    display: block; 
    line-height: 50px; 
}




.resultsbutton {
    padding: 15px; 
    margin: 20px; 
    font-size: 16px;
    background-color: grey; 
    color: white;  
}

.resultsbutton a:hover {
    background-color: navy; 


}






.copyright {
    text-align: center; 
    font-size: 14px;
    margin-top: 50px; 
    padding: 5px; 
    background-color: #0c0804; 
    color: white; 
   
    
}

